/* Overlay Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  z-index: 9999;


  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  padding-top: 10px;
  text-align: center;

}
.form-top{
  /* border: 2px solid red; */
  position: relative;
  border-top-right-radius: 12px ;
  padding: 20px;
  color: white;
  background-color: #1d1160;
  border-top-left-radius:12px ;
  width: 100%;
}

/* Modal Box */
.modal-content {
  background: white;
  width: 90%;
  max-width: 400px;
margin-bottom: 40px;
  border-radius: 12px;
  position: relative;
}
form{

    padding: 15px;
}

/* Close Button */
 .close-btn {
  position: absolute;
   pointer-events: auto;
  color: white;
  top: 12px;
  right: 15px;
  border: none;
  background: none;
  font-size: 20px;
  z-index: 999;
  cursor: pointer !important;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Input Box Wrapper */
.inputBox {
  position: relative;
  width: 100%;
}

/* Icon Inside Input */
.inputIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: rgb(37, 36, 36);
  font-size: 20px;
}

.input-wrapper {
  /* margin-bottom: 10px; */
  min-height: 20px; /* reserve space for input + error */
  position: relative;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin: 3px 0 0 0;
  min-height: 4px; /* keeps form stable */
}



/* Input Field */
.inputBox input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

/* Input Focus */
.inputBox input:focus {
  border-color: rgb(0, 38, 255);
}

/* Submit Button */
.submit-btn {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #333;
}
