.dash-container {
    display: grid;
    grid-template-columns: 250px 1fr; /* fixed sidebar */
    min-height: 100vh;
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .dash-container {
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }
}
